header {
    position: fixed; /*Torna o header fixo */
    width: 100%; /* Define a largura como 100% */
    top: 0; /* Mantém o header fixo no topo */
    z-index: 1000; /* Define a ordem de empilhamento */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 3% 8%; Ajusta o preenchimento */
    margin-bottom: 20px;
    padding-bottom: 20px;
    margin-left: -0.5rem;
    /*background-color: rgb(98, 98, 204); /* Adiciona cor de fundo */
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    font-size: 'Montserrat', sans-serif;
}

.inicial{
    display: flexbox;
    align-items: center;
    color: black;
    font-size: 28px;
    font-weight: 500;
}

.inicial i{
    color: black;
    font-size: 32px;
    margin-right: 5px;
}

.inicial:hover,
.inicial:hover i {
    color: rgb(98, 98, 204);
}


.navegação{
    display: flex;
}

.navegação a {
    color: black;
    font-size: 35px;
    font-weight: 500;
    margin: 0 30px;
    transition: color 0.55s ease; /* Modifiquei a transição para aplicar somente na cor */
    text-decoration: none; /* Removendo o sublinhado */
}

.navegação a:hover{
    color: rgb(98, 98, 204);
}

.header-icons {
    margin: 0;
    padding: 0;
    margin-top: 0.8rem;
  }

#menu{
    font-size: 35px;
    color: black;
    z-index: 10001;
    cursor: pointer;
}

.header-icons i{
    margin-right: 25px;
    font-size: 28px;
    cursor: pointer;
    transition: all .5s ease;
    color: black;
}

.header-icons i:hover{
    transform: translateY(-5px);
    color: rgb(98, 98, 204)
}