@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html{
    /*background: linear-gradient(rgb(98, 98, 204), black)*/
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}



/* Footer */


.footer-content {
    color: white;
    text-align: center;
    padding: 5px 0; /* Adiciona espaçamento interno */
}

footer a {
    color: rgb(98, 98, 204);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: white; /* Muda a cor do texto quando o mouse passa por cima */
}



footer {
    background-color: #b0c4de; /* Define o fundo do footer como preto */
    border-radius: 10px; /* Adiciona um leve border-radius */
}


/* Botões */
button {
    text-align: center; /* Centraliza o texto dentro do botão */
    background-color: rgb(98, 98, 204); /* Cor de fundo */
    color: black; /* Cor do texto */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Adiciona espaço interno */
    cursor: pointer; /* Muda o cursor ao passar por cima */
    transition: background-color 0.3s; /* Efeito de transição para a cor de fundo */
}

button:hover {
    background-color: white; /* Muda a cor de fundo ao passar o mouse */
    color: black; /* Muda a cor do texto */
}

.botoes {
    text-align: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px; /* Adiciona margem acima dos botões */
    margin-bottom: 20px; /* Adiciona margem abaixo dos botões */
}


/* BARRINHA */

.barrinha {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.group {
    display: flex;
    flex-direction: column;
}

.sub-items {
    display: none;
    transition: all 0.3s ease; /* Adicionando transição para suavizar a animação */
}

.sub-items:hover {
    color: rgb(98, 98, 204); /* Altera a cor do texto dos itens secundários para a cor desejada ao passar o mouse */
}


.expandable {
    cursor: pointer;
}

li:last-child {
    text-align: center;
}

.expandable:hover,
.expandable:active {
    color: rgb(98, 98, 204); /* Altera a cor do texto para a cor desejada ao passar o mouse ou clicar */
}



/* Body */

body {
    padding-top: 100px; /* Ajusta o padding superior do body para compensar o espaço ocupado pelo header */
}

h1 {
    color: black;
    text-align: center;
    margin-top: 80px; /* Adiciona margem superior ao título */
    font-family: 'Montserrat', sans-serif;
    /* Adiciona uma transição suave para a mudança de cor */
    transition: color 0.3s ease;
}

h1:hover {
    color: rgb(98, 98, 204); /* Altera a cor para preto ao passar o mouse */
}

.sub {
    font-size: 25px; /* Tamanho da fonte */
    color: black;
    text-align: center; /* Alinhamento do texto */
    margin-top: 20px; /* Margem superior */
}

p{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h1:hover, .sub:hover, footer p:hover {
    color: rgb(98, 98, 204);
}


footer p {
    color: white; /* Define a cor do texto como branco */
    transition: color 0.3s; /* Adiciona uma transição suave para a mudança de cor */
    text-align: center;
}


.footer-divider {
    width: 1px; /* Largura do quadrado */
    height: 80px; /* Altura do quadrado */
    background-color: white; /* Cor branca */
    margin: 0 10px; /* Margem para separação dos elementos */
}

.footer-logo i:hover{
    color: white;
}

.topicbeneficios {
    display: flex;
    justify-content: space-between;
}

.beneficios {
    width: 30%; /* Ajuste conforme necessário */
    background-color: #f0f0f0; /* Cor de fundo dos quadrados */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Adicionando transição para suavizar a mudança de cor */
    color: black; /* Cor inicial do texto */
    box-shadow: 0 500px 500px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.beneficios h2 {
    margin-left: -10px; /* Move um pouco para a esquerda */
}
  
.beneficios p {
    text-align: center; /* Centraliza o texto */
 }

 .beneficios:hover, .beneficios:hover p {
    background-color: rgb(98, 98, 204); /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}


/* Carrosel barrinha */

/* Estilos para os botões de seta do Slick Carousel */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.slick-prev i,
.slick-next i {
    color: white; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo dos botões ao passar o mouse */
}


/* Estilos para as setas do Slick Carousel */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    color: white;
}

.slick-prev i,
.slick-next i {
    font-size: 24px;
}

.slick-prev {
    left: 20px; /* Define a posição da seta esquerda */
}

.slick-next {
    right: 20px; /* Define a posição da seta direita */
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* subtitulo */
.subtitulo {
    text-align: center;
    color: lightcyan;
    font-size: 1.3rem;
    margin: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 3rem;
    margin-left: 5.2rem;
    width: 90%;
    height: 50%;
    background-color: rgba(61, 61, 147, 0.55);
    border-radius: 1rem;
    opacity: 0; /* Define a opacidade inicial como 0 para que o elemento seja invisível */
    transition: opacity 2.5s ease; /* Adiciona uma transição suave de 0.5 segundos para a propriedade de opacidade */
}

.textosub{
    color: white;
}
.subtitulo.aparecer {
    opacity: 1; /* Define a opacidade como 1 para que o elemento se torne visível */
}

.beneficios img {
    max-width: 100%; /* Define o tamanho máximo da imagem para 100% da largura do contêiner pai */
    max-height: 100px; /* Define a altura máxima da imagem */
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    display: block; /* Adiciona um espaço em volta da imagem para evitar o espaçamento estranho */
}



/* Video carrosel */
.playervideo {
    display: flex;
    justify-content: space-between;
}

.playervideo .video {
    width: 30%; /* Ajuste conforme necessário */
    background-color: #f0f0f0; /* Cor de fundo dos quadrados */
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s; /* Adicionando transição para suavizar a mudança de cor */
    color: black; /* Cor inicial do texto */
    box-shadow: 0 500px 500px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

.playervideo .video h2 {
    margin-left: -10px; /* Reduz o nível da margem à esquerda em 10px */
    color: black;
}

.playervideo .video p {
    text-align: center; /* Centraliza o texto */
}

.playervideo .video:hover {
    background-color: rgb(98, 98, 204); /* Cor de fundo ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
}

.playervideo .video:hover h2 {
    color: white; /* Cor do texto do h2 ao passar o mouse */
}

.playervideo .video:hover p {
    color: white; /* Cor do texto do h2 ao passar o mouse */
}

/* Estilos para os botões de seta do Slick Carousel */
.playervideo .slick-prev,
.playervideo .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    width: 30px; /* Ajuste conforme necessário */
    height: 30px; /* Ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões */
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.playervideo .slick-prev i,
.playervideo .slick-next i {
    color: white; /* Cor dos ícones */
    font-size: 24px; /* Tamanho dos ícones */
}

.playervideo .slick-prev:hover,
.playervideo .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo dos botões ao passar o mouse */
}



/*BANNER */
.banner {
    text-align: center;
    color: lightcyan;
    font-size: 1.3rem;
    margin: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 3rem;
    margin-left: 5.2rem;
    width: 90%;
    height: 50%;
    background-color: rgba(61, 61, 147, 0.55); /* Cor de fundo do banner */
    border-radius: 1rem;
}


.banner img {
    max-width: 100%; /* Garante que a imagem do banner não ultrapasse o contêiner */
    border-radius: 1rem;
    font-size: 'Montserrat', sans-serif;
}

.banner h5 {
    font-size: 36px; /* Tamanho da fonte do título */
    margin-top: 20px; /* Espaçamento superior entre o título e o parágrafo */
}

.banne {
    font-size: 25px; /* Tamanho da fonte do parágrafo */
    color: white; /* Cor do texto */
}

.banner .btn {
    display: inline-block; /* Permite que o botão se ajuste ao tamanho do texto */
    margin-top: 20px; /* Espaçamento superior entre o parágrafo e o botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    background-color: white; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    border-radius: 5px; /* Borda arredondada do botão */
    transition: background-color 0.3s; /* Efeito de transição suave */
}

.banner .btn:hover {
    background-color: rgb(72, 0, 255); /* Cor de fundo do botão ao passar o mouse */
    color: white;
}

* {
    box-sizing: border-box;
  }
  
  .accordion-container {
    margin: 0 auto;
    min-width: 330px;
    overflow: hidden;
  }
  
  .main-item {
    border-radius: 8px;
    padding: 8px; /* Reduz o padding */
    display: flex;
    cursor: pointer;
    background: white;
    align-items: center;
    justify-content: start;
    gap: 8px;
    transition: all ease-in-out 1s;
    font-size: 14px; /* Reduz o tamanho da fonte */
}
  
  .main-item:hover {
    background-color: rgb(98, 98, 204);
    color: black;
  }
  
  .main-item svg {
    color: rgb(98, 98, 204);
    transition: all ease-in-out 1s;
  }
  
  .main-item:hover svg {
    color: rgb(98, 98, 204);
  }
  
  .main-item--open {
    border-radius: 8px 8px 0px 0px;
    background-color:black;
    transition: all 1s;
    color: rgb(0, 0, 0);
  }
  
  .main-item--open:hover {
    color: rgb(0, 0, 0);
    border-radius: 8px 8px 0px 0px;
    background-color: rgb(98, 98, 204);
  }
  
  .main-item--open svg {
    color: rgb(0, 0, 0);
  }
  
  .main-item--open:hover svg {
    color: rgb(0, 0, 0);
  }
  
  .accordion-container > ul {
    max-height: 0px;
    background-color: black;
    list-style-type: none;
    margin: 0px;
    padding-left: 14px;
    opacity: 0;
    background-color: rgb(98, 98, 204);
    visibility: hidden;
    transition: all ease-in-out 0.2s;
  }
  
  .main-item--open + ul {
    visibility: visible;
    max-height: 400px;
    opacity: 1;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .accordion-container > ul > li {
    height: 48px;
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .accordion-container > ul > li:hover {
    color: black;
    cursor: pointer;
  }
  
  .expand-icon {
    width: 24px;
    height: 24px;
    margin-left: auto;
  }
  
  .main-item--open > .expand-icon {
    transform: rotate(90deg);
  }

  .duvida-pergunta-texto {
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    flex: 1; /* Adiciona essa linha para estender o texto pela largura total do contêiner flexível */
}


.duvida-pergunta-texto:hover {
    color: rgb(255, 255, 255);
}

.resposta {
    display: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s; /* Adiciona uma transição suave de 0.3 segundos para a mudança de cor */
    font-size: 18px;
    text-align: center;

}

.ativo {
    display: block;
    color: rgb(0, 0, 0);
    transition: 1s
}


button{
    text-align: center;
}

.footer-content {
    color: white;
    text-align: center;
}

.botoes {
    text-align: center; /* Centraliza os botões horizontalmente */
    margin-top: 20px; /* Adiciona margem acima dos botões */
    margin-bottom: 20px; /* Adiciona margem abaixo dos botões */
}

/* usuario css */ 

body{
    /* Centralizando o conteúdo verticalmente e horizontalmente */
    display: center;
    align-items: center;
    justify-content: center;
    /* Empilhando os elementos filhos verticalmente */
    flex-direction: column;
    /* Definindo a altura do corpo igual à altura da janela de visualização */
    height: 100vh;
    margin: 0;
}

.container{
    /* Estilização do contêiner */
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%; /* Certificando-se de que o contêiner não ultrapasse a largura da janela de visualização */
    min-height: 480px; /* Definindo uma altura mínima para o contêiner */
    margin: auto; /* Adicionado para centralizar o contêiner */
}

.container p{
    /* Estilização para parágrafos dentro do contêiner */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    /* Estilização para spans dentro do contêiner */
    font-size: 12px;
}

.container a{
    /* Estilização para links dentro do contêiner */
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    /* Estilização para botões dentro do contêiner */
    background-color: rgb(98, 98, 204);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    /* Estilização adicional para botões ocultos */
    background-color: transparent;
    border-color: #fff;
}

.container form{
    /* Estilização para formulários dentro do contêiner */
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%; /* Preenchendo toda a altura do contêiner */
}

.container input{
    /* Estilização para inputs dentro do contêiner */
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%; /* Fazendo os inputs ocuparem toda a largura do contêiner */
    outline: none;
}

.form-container{
    /* Estilização para o contêiner do formulário */
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    /* Estilização para a seção de login */
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    /* Estilização para a seção de login ativa */
    transform: translateX(100%);
}

.sign-up{
    /* Estilização para a seção de registro */
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    /* Estilização para a seção de registro ativa */
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s; /* Aplicando animação */
}

@keyframes move{
    /* Keyframes para animação */
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    /* Estilização para ícones sociais */
    margin: 20px 0;
}

.social-icons a{
    /* Estilização para links de ícones sociais */
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    /* Estilização para o contêiner de alternância */
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    /* Estilização para o contêiner de alternância ativo */
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    /* Estilização para o botão de alternância */
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    /* Estilização para o botão de alternância ativo */
    transform: translateX(50%);
}

.toggle-panel{
    /* Estilização para o painel de alternância */
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    /* Estilização para alternar para a esquerda */
    transform: translateX(-200%);
}

.container.active .toggle-left{
    /* Estilização para alternar para a esquerda ativa */
    transform: translateX(0);
}

.toggle-right{
    /* Estilização para alternar para a direita */
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    /* Estilização para alternar para a direita ativa */
    transform: translateX(200%);
}



/* CursoCard.css */

.curso-card {
    width: calc(25% - 20px); /* 25% para exibir até 4 cards por linha, subtraindo a margem */
    margin: 10px; /* Espaçamento entre os cards */
    display: inline-block;
    vertical-align: top; /* Alinhar os cards no topo */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
  }
  
  .curso-card h6 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .curso-card p {
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
  }
  
  /* Para garantir que os cards tenham a mesma altura */
  .lista-de-cursos {
    overflow: hidden;
  }
  
  /* Estilo opcional para quando houver menos de 4 cards por linha */
  @media (max-width: 768px) {
    .curso-card {
      width: calc(50% - 20px); /* Exibir 2 cards por linha em telas menores */
    }
  }
  
  @media (max-width: 480px) {
    .curso-card {
      width: 100%; /* Exibir 1 card por linha em telas muito pequenas */
    }
  }
  
  .curso-card:hover {
    background-color: rgb(98, 98, 204);
  }
  
  .curso-card:hover h6,
.curso-card:hover p {
  color: white;
}

.imgcursos-container {
    max-width: 100%;
    height: auto;
    text-align: center;
  }
  
  .imgcursos-container img {
    max-width: 100%;
    max-height: 150px; /* ou qualquer altura desejada */
    height: auto;
    display: block; /* alterado de inline-block para block */
    margin: 0 auto;
  }
  